html {
    font-family: sans-serif;
    background: #fafafa;
}

body {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    max-width: 1056px;
    margin: 0 auto;
    padding: 0 16px;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: #fff;
    border: 1px solid black;
    border-top: none;
    border-right: none;
    border-bottom-left-radius: 2px;
}

nav a {
    display: block;
    position: relative;
    width: 16px;
    height: 16px;
    margin: 8px;
    text-indent: 24px;
    white-space: nowrap;
}

#new {
    background-image: url(../images/new-text.png);
}

#view {
    background-image: url(../images/document--arrow.png);
}

#edit {
    background-image: url(../images/pencil.png);
}

#fork {
    background-image: url(../images/arrow-branch-090.png);
}

#validator-html {
    background-image: url(../images/validation-label-html.png);
}

#validator-css {
    background-image: url(../images/validation-label.png);
}

#outliner {
    background-image: url(../images/document-outline.png);
}

aside {
    padding: .5em;
    background: #fbf2c8;
    border: 1px solid #fde050;
    border-radius: 2px;
}

form {
    position: relative;
    overflow: hidden;
    margin-top: 3em;
}

div[class], #css:target ~ .html, #js:target ~ .html {
    visibility: hidden;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border-radius: 2px;
}

span[id] {
    display: none;
}

/* This and the iframe's background color make portals. Fitting, but not intentional. */
#html ~ .html, #html ~ .html h2 {
    background-color: #00bfff;
}

#css ~ .css, #css ~ .css h2 {
    left: 4.25em;
    background-color: #bf80ff;
}

#js ~ .js, #js ~ .js h2 {
    left: 8.5em;
    background-color: #32cd32;
}

#html ~ .html, #css:target ~ .css, #js:target ~ .js, body > div {
    visibility: visible;
    height: auto;
    margin-top: 1.5em;
    padding: 7px;
    border: 1px solid #808080;
}

#css:target ~ .html, #js:target ~ .html {
    border: none;
}

h2, #css:target ~ .html h2, #js:target ~ .html h2 {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    margin-left: 9px;
    font-size: 1.2em;
    font-weight: normal;
    line-height: 1.2em;
    border: 1px solid #808080;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.html h2, #css:target ~ .css h2, #js:target ~ .js h2 {
    border-bottom-color: transparent;
}

h2 a {
    display: inline-block;
    width: 4em;
    text-align: center;
    text-decoration: none;
    color: #000;
}

textarea {
    clear: left;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 23em;
    min-height: 11em;
    resize: vertical;
    -moz-tab-size: 4;
    tab-size: 4;
    margin: 0;
    font-family: monospace;
    border: 1px solid #808080;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .2) inset;
}

input[type='submit'] {
    margin-top: .5em;
    margin-left: 9px;
    font-size: larger;
}

body > div {
    background: #ff8c00;
    border-radius: 2px;
}

iframe {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 23em;
    font-family: monospace;
    background: #fff;
    border: 1px solid #808080;
}

footer {
    margin-top: 3em;
    margin-bottom: .5em;
    font-size: smaller;
    text-align: center;
    color: #444;
}

div.r404, div.r500 {
    visibility: visible;
    position: relative;
    width: 600px;
    height: auto;
    overflow: visible;
    margin: 0 auto;
    background: transparent;
    border: none;
}

div.r404 > *, div.r500 > * {
    position: relative;
    z-index: 1;
}

div.r404:before, div.r404:after, div.r404 h1:before, div.r404 h1:after,
div.r500:before, div.r500:after {
    content: "";
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.r404:before {
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border: 20px solid #f5f5f5;
    border-radius: 50%;
}

div.r404:after {
    content: "N";
    width: 350px;
    height: 350px;
    margin-top: -175px;
    margin-left: -175px;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    color: #f5f5f5;
    -webkit-transform: rotate(-160deg);
    -moz-transform: rotate(-160deg);
    transform: rotate(-160deg);
}

.r404 h1:before {
    margin-top: -160px;
    margin-left: -25px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 160px solid #f5f5f5;
    -webkit-transform: rotate(140deg);
    -moz-transform: rotate(140deg);
    transform: rotate(140deg);
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.r404 h1:after {
    margin-top: -160px;
    margin-left: -25px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 160px solid #f2f1f2;
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    transform: rotate(-40deg);
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.r500:before {
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border: 20px solid #f5f5f5;
    border-radius: 7%;
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    transform: rotate(-35deg);
}

div.r500:after {
    content: "!";
    width: 350px;
    height: 350px;
    margin-top: -175px;
    margin-left: -175px;
    font-size: 300px;
    font-weight: bold;
    text-align: center;
    color: #f5f4f5;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    transform: rotate(10deg);
}
