        <nav>
            <ul>
                <li><a id="new" rel="nofollow" href="/"#{ifnot _edit} target="_parent"#{/} title="New Paste">New Paste</a></li>
                <li>#{if _edit}<a id="view" href="@{Application.view(_paste.id)}" title="View Paste">View Paste#{/}#{else}<a id="edit" href="edit"#{ifnot _edit} target="_parent"#{/} title="Edit Paste">Edit Paste#{/}</a></li>
                <!-- As opposed to spoon paste. -->
                <li><a id="fork" rel="nofollow" href="fork"#{if !_edit} target="_parent"#{/} title="Fork Paste">Fork Paste</a></li>
                <li><a id="validator-html" href="http://validator.w3.org/check?uri=@@{Application.view(_paste.id)}"#{ifnot _edit} target="_parent"#{/} title="View HTML validator results">View HTML validator results</a></li>
                <li><a id="validator-css" href="http://jigsaw.w3.org/css-validator/validator?uri=@@{Application.view(_paste.id)}"#{ifnot _edit} target="_parent"#{/} title="View CSS validator results">View CSS validator results</a></li>
                <li><a id="outliner" href="https://gsnedders.html5.org/outliner/process.py?url=@@{Application.view(_paste.id)}"#{ifnot _edit} target="_parent"#{/} title="View HTML 5 Outliner results">View HTML 5 Outliner results</a></li>
            </ul>
        </nav>
