#{extends 'main.html' /}#{set title:'Edit' /}#{set 'meta'}        <meta name="description" content="A simple website for developing and showing off test cases using HTML, CSS, and JavaScript.">
        <meta name="keywords" content="HTML, CSS, JavaScript, editor, test case">
        <meta name="robots" content="noarchive">
        <meta name="googlebot" content="unavailable_after: ${paste.getExpiration().toString('dd-MMM-yy HH:mm:ss z')}">
#{/set}        <h1>Edit Paste</h1>
#{toolbar edit:true, paste:paste /}
        <aside>
            Editing this paste will update it for everyone with the last edit "winning". <a href="fork">Fork this paste</a>
            to create an independent copy based on this one.
        </aside>
        <form action="@{Application.save(paste.id)}" method="post" enctype="multipart/form-data">
            #{authenticityToken /}            <span id="html">html</span>
            <span id="css">css</span>
            <span id="js">js</span>
            <div class="html">
                <h2><a href="#html" accesskey="h">HTML</a></h2>
                <textarea name="html" spellcheck="false">${paste.html}</textarea>
            </div>
            <div class="css">
                <h2><a href="#css" accesskey="c">CSS</a></h2>
                <textarea name="css" spellcheck="false">${paste.css}</textarea>
            </div>
            <div class="js">
                <h2><a href="#js" accesskey="j">JS</a></h2>
                <textarea name="js" spellcheck="false">${paste.js}</textarea>
            </div>
            <noscript>
                <input type="submit" value="Save">
            </noscript>
        </form>
        <div>
            <iframe src="@{Application.view(paste.id)}?0">
                This browser doesn't support iframes. I think it's time you upgraded it.
            </iframe>
        </div>
        <footer>
            <a href="https://bitbucket.org/AMcBain/paste">Source</a> &middot; IE users must have 9 or later. Pastes are deleted
            after seven days. This site is not responsible for its content. Content is owned by uploaders.
        </footer>
